* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f2f2f2;
  }

  body{
    background-color: #232323 ;
  }
  
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #232323;
  }
  
  
  nav .logo {
    flex-grow: 1;
  }
  

  nav .logo a {
    font-size: 32px;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; /* Remover os pontos dos hiperlinks */
    margin-left: auto; /* Move os links para a direita */
  }
  
  nav li {
    margin-left: 40px; /* Aumentar o espaço entre os links */
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
  }
  
  .banner {
    background-image: url(gym.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav li a{
    color: #fff;
  }

  .card h4:hover{
    color: #FFC300;
  } 

 .logo a{
    color: #FFC300;
 }

 nav li a:hover{
    color: #FFC300 ;
  }
  
  .banner-content {
    text-align: center;
    color: #fff;
  }
  
  .banner-content h1 {
    font-size: 64px;
    margin-bottom: 20px;
    color: #f2f2f2;
  }
  
  .btn {
    display: inline-block;
    background-color: #fff;
    color: #333;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .banner-content a{
    background-color: #232323;
    color: #FFC300;
  }

  .banner-content a:hover{
    background-color: #232323;
    color: #F5D58C;
  }
  
  .btn:hover {
    background-color: #333;
    color: #FFC300 ;
  }

  .card a{
    color: #FFC300;
    background-color: #232323;
  }

  
  section.planos {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card {
    width: calc(25% - 20px);
    background-color: #4F4F4F;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color:  #FFC300;
  }
  
  .card p {
    margin-bottom: 20px;
    color: #232323;
  }
  
  .card h4 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  footer {
    background-color: #4F4F4F;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  @media only screen and (max-width: 600px) {
    nav {
      flex-wrap: wrap;
    }
    nav .logo a {
      font-size: 24px;
    }
    nav ul {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }
    nav li {
      margin: 10px 0;
    }
    nav label {
      display: block;
      margin-right: 10px;
      cursor: pointer;
    }
    nav #toggle {
      display: none;
    }
    nav #toggle:checked ~ ul {
      display: flex;
    }
    .banner-content h1 {
      font-size: 48px;
    }
    section.planos {
      display: block;
    }
    .card {
      width: 100%;
    }
  }

  .titulo-planos {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
  }
  
  @media screen and (max-width: 768px) {
    .titulo-planos {
      font-size: 28px;
    }
  }
  
  



  .menu-icon {
    display: none; /* Oculta o ícone em telas maiores que 600px */
    cursor: pointer;
  }
  
  .bar {
    width: 30px;
    height: 5px;
    margin: 5px 0;
    background-color: #333;
    transition: 0.4s;
  }
  
  .change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar:nth-child(2) {
    opacity: 0;
  }
  
  .change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
  }






  @media screen and (max-width: 840px) {
    nav ul {
      display: none;
      position: absolute;
      top: 55px;
      left: 0;
      width: 100%;
      background-color: #232323;
      z-index: 999;
    }
    
    nav ul.show {
      display: flex;
      flex-direction: column;
    }
    
    nav ul li {
      margin-left: 0;
      margin-bottom: 20px;
    }
    
    nav ul li:first-child {
      margin-top: 20px;
    }
    
    .menu-icon {
      display: block;
    }


    nav ul.show li a {
      color: #b6adad;
    }
    
  }




  .section-title {
    text-align: center;
    margin: 27px 0;
  }
  
  .section-title h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f2f2f2;
  }
  
  @media screen and (max-width: 768px) {
    .section-title h2 {
      font-size: 2rem;
    }
  }
  

  @media only screen and (max-width: 1073px) and (min-width: 601px) {
    .planos {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .card {
      width: 45%;
      margin-bottom: 20px;
      margin: 15px;
    }
  
    .card h3 {
      font-size: 1.4rem;
    }
  
    .card p {
      font-size: 1.2rem;
    }
  
    .card h4 {
      font-size: 1.6rem;
    }
  
    .card a.btn {
      font-size: 1.2rem;
      padding: 10px 20px;
    }
  }
  











  